:root {
  --primary-color: #00a2d3;
  --secondary-color: #333435;
  --tertiary-color: #6c8793;

  --text-color: #ffffff;
  --border-color-node: #ffffff;
  --border-color: #515151;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
  background: var(--primary-color);
  color: var(--text-color);
}

header h2 {
  margin: 0px;
  line-height: 66px;
}
header a {
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background: #00a2d3;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.legenda{
  float: right;
  position: absolute;
  top: 60px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background: var(--tertiary-color);
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 5;
}

.swal-wide{
    width:80% !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #6c8793;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #6c8793;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  z-index: 5;
}
.bar-zoom svg {
  cursor: pointer;
  padding: 2px;
}
.bar-zoom svg:nth-child(2) {
  margin-right:10px;
  margin-left: 10px;
}

#drawflow {
  position: relative;
  width: calc(100vw);
  height: calc(100%);
  background: var(--secondary-color);
  background-size: 25px 25px;
  background-image:
   linear-gradient(to right, var(--border-color) 1px, transparent 1px),
   linear-gradient(to bottom, var(--border-color) 1px, transparent 1px);
}



/* Editing Drawflow */

.drawflow .drawflow-node {
  background: var(--tertiary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color-node);
  -webkit-box-shadow: 0 0 15px 2px var(--border-color-node);
  box-shadow: 0 0 15px 2px var(--border-color-node);
  padding: 0px;
  width: auto;
}

.drawflow .drawflow-node.selected  {
  background: var(--tertiary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color-node);
  -webkit-box-shadow: 0 0 15px 13px var(--primary-color);
  box-shadow: 0 0 15px 13px var(--primary-color);
}

.drawflow .connection .main-path {
  stroke: var(--primary-color);
  stroke-width: 6px;
}

.drawflow .connection .main-path.selected {
   stroke: var(--border-color-node); 
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
  height: 20px;
  width: 20px;
  border: 1px solid var(--border-color-node);
}

.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
  -webkit-box-shadow: 0 0 5px 4px var(--border-color-node);
  box-shadow: 0 0 5px 4px var(--border-color-node);
}

.drawflow .drawflow-node .output {
  right: 10px;
}

.drawflow .drawflow-node .input {
  left: -10px;
  background: white;
}

.drawflow .inputs .port_red , .drawflow .outputs .port_red{
  background: #e81224;
}
.drawflow .inputs .port_green , .drawflow .outputs .port_green{
  background: #16c60c;
}
.drawflow .inputs .port_blue , .drawflow .outputs .port_blue{
  background: #0078d7;
}
.drawflow .inputs .port_yellow , .drawflow .outputs .port_yellow{
  background: #fff100;
}
.drawflow .inputs .port_orange , .drawflow .outputs .port_orange{
  background: #f7630c;
}
.drawflow .inputs .port_purple , .drawflow .outputs .port_purple{
  background: #886ce4;
}
.drawflow .inputs .port_brown , .drawflow .outputs .port_brown{
  background: #8e562e;
}
.drawflow .inputs .port_black , .drawflow .outputs .port_black{
  background: #383838;
}
.drawflow .inputs .port_white , .drawflow .outputs .port_white{
  background: #f2f2f2;
}

.drawflow-delete {
  border: 2px solid var(--primary-color);
  background: var(--border-color-node);
  color: var(--primary-color);
  -webkit-box-shadow: 0 2px 20px 2px var(--primary-color);
  box-shadow: 0 2px 20px 2px var(--primary-color);
}

.drawflow-node .title-box {
  height: 50px;
  line-height: 50px;
  background: var(--primary-color);
  border-bottom: 1px solid var(--border-color-node);
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  font-weight: bold;
}

.drawflow .title-box svg {
  position: initial;
}

.drawflow-node .box-full {
  margin: 20px 20px 20px 20px;
  width: 600px;
  font-size: 14px;
}

.drawflow-node .box-half {
  margin: 20px 20px 20px 20px;
  width: 300px;
  font-size: 14px;
}

.drawflow-node input, .drawflow-node select, .drawflow-node textarea {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
  overflow: auto;
  overflow-wrap: normal;
  white-space: pre;
}

.drawflow label{
  font-weight: bold;
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white; 
}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
  fill: #4ea9ff;
}

.drawflow .widget-body{
  display: flex;
  margin-bottom: 8px;
  color: var(--text-color);
  border: 1px solid white;
  background: var(--secondary-color);
}

.drawflow .widget-body-element-half{
  width: 50%;
  padding: 5px;
}

.drawflow .widget-body-element-full{
  width: 100%;
  padding: 5px;
}

.drawflow-node .ck-editor{
  height : 300px;
  display: flex;
  color: var(--text-color);
  border: 1px solid white;
  background: var(--secondary-color);
}

.drawflow-node .code-room{
  width : 50%;
  padding: 5px;
}

.drawflow-node .code-box{
  height: 80%;
}

.drawflow-node .trigger-room{
  width: 50%;
  border-left: 1px solid white;
  overflow: auto;
}

.drawflow-node .trigger-box{
  width: 100%;
  padding: 5px;
  background: var(--secondary-color);
  border-top: 1px solid white;
  color:white;
}

.drawflow-node .trigger-room .trigger-box:last-child{
  border-bottom: 1px solid white;
}

.drawflow-node .others-room textarea {
  height: 100px;
}

.btn-delete-trigger {
  color: white;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add-trigger {
  width: 100%;
  height: 10%;
  text-align: center;
  color: white;
  font-weight: bold;
  background: #00a2d3;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.drawflow-node .separator{
  margin-top: 8px;
  margin-bottom : 8px;
}

.drawflow-node .ck-editor.hide{
  display: none;
}
