:root {
  --border-color: rgba(81,81,81,255);
  --background-color: #333435;
  --background-color-hover: #00a2d3;
  --text-color: #ffffff;

  --background-box-title: #00a2d3;
  --background-title: #00a2d3;
  --background-node: #6c8793;

  --border-color-node: #ffffff;
  --border-color-node-selected: #00a2d3;

  --path-color: #00a2d3;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
  background: var(--background-title);
  color: var(--text-color);
}

header h2 {
  margin: 0px;
  line-height: 66px;
}
header a {
  color: black;
}
.them-edit-link {
  position: absolute;
  top: 10px;
  right: 100px;
  color: black;
  font-size: 40px;
}
.them-edit-link a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
}

.col {
  overflow: auto;
  width: 250px;
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.drag-drawflow {
  line-height: 50px;
  border-bottom: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--text-color);
  padding-left: 20px;
  cursor: move;
  user-select: none;
}

.menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}

.menu ul li.selected {
  font-weight: bold;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background: #00a2d3;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear {
  float: right;
  position: absolute;
  top: 10px;
  right: 85px;
  color: white;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.swal-wide{
    width:80% !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #6c8793;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #6c8793;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
}
.bar-zoom svg {
  cursor: pointer;
  padding: 2px;
}
.bar-zoom svg:nth-child(2) {
  margin-right:10px;
  margin-left: 10px;
}

#drawflow {
  position: relative;
  width: calc(100vw - 251px);
  height: calc(100% - 41px);
  top: 40px;
  background: var(--background-color);
  background-size: 25px 25px;
  background-image:
   linear-gradient(to right, var(--border-color) 1px, transparent 1px),
   linear-gradient(to bottom, var(--border-color) 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }
  .col .drag-drawflow span {
    display:none;
  }
  #drawflow {
    width: calc(100vw - 51px);
  }
}



/* Editing Drawflow */

.drawflow .drawflow-node {
  background: var(--background-node);
  color: var(--text-color);
  border: 1px solid var(--border-color-node);
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color-node);
  box-shadow: 0 2px 15px 2px var(--border-color-node);
  padding: 0px;
  width: auto;
}

.drawflow .drawflow-node.selected  {
  background: var(--background-node);
  color: var(--text-color);
  border: 1px solid var(--border-color-node);
  -webkit-box-shadow: 0 2px 15px 13px var(--border-color-node-selected);
  box-shadow: 0 2px 15px 13px var(--border-color-node-selected);
}

.drawflow .connection .main-path {
  stroke: var(--path-color);
  stroke-width: 6px;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
  height: 20px;
  width: 20px;
  border: 1px solid var(--border-color-node);
}

.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
  -webkit-box-shadow: 0 0 5px 4px var(--border-color-node);
  box-shadow: 0 0 5px 4px var(--border-color-node);
}

.drawflow .drawflow-node .output {
  right: 10px;
}

.drawflow .drawflow-node .input {
  left: -10px;
  background: white;
}

/* RadarSeries */
.drawflow .radarseries .input_1{
  background: #e81224;
}
.drawflow .radarseries .input_2{
  background: #fff100;
}
.drawflow .radarseries .output_1{
  background: #0078d7;
}
.drawflow .radarseries .output_2{
  background: #fff100;
}

/* TimeTrend */
.drawflow .timetrend .input_1{
  background: #0078d7;
}
.drawflow .timetrend .output_1{
  background: #fff100;
}
.drawflow .timetrend .output_2{
  background: #0078d7;
}
.drawflow .timetrend .output_3{
  background: #16c60c;
}

/* CurvedLineSeries */
.drawflow .curvedlineseries .input_1{
  background: #e81224;
}
.drawflow .curvedlineseries .input_2{
  background: #16c60c;
}
.drawflow .curvedlineseries .input_3{
  background: #fff100;
}
.drawflow .curvedlineseries .output_1{
  background: #fff100;
}
.drawflow .curvedlineseries .output_2{
  background: #0078d7;
}
.drawflow .curvedlineseries .output_3{
  background: #16c60c;
}
.drawflow .curvedlineseries .output_4{
  background: #e81224;
}

/* PieChart */
.drawflow .piechart .input_1{
  background: #FF0000;
}
.drawflow .piechart .input_2{
  background: #00FF00;
}
.drawflow .piechart .output_1{
  background: #FF0000;
}
.drawflow .piechart .output_2{
  background: #00FFFF;
}



.drawflow > .drawflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
  border: 2px solid #4ea9ff;
  background: white;
  color: #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
  height: 50px;
  line-height: 50px;
  background: var(--background-box-title);
  border-bottom: 1px solid var(--border-color-node);
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  font-weight: bold;
}
.drawflow .title-box svg {
  position: initial;
}
.drawflow-node .box {
  margin: 20px 20px 20px 20px;
  width: 300px;
  font-size: 14px;
  color: var(--text-color);

}
.drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.drawflow-node.welcome {
  width: 250px;
}

.drawflow-node.slack .title-box {
  border-radius: 4px;
}

.drawflow-node input, .drawflow-node select, .drawflow-node textarea {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  width:100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
  overflow: auto;
  overflow-wrap: normal;
  white-space: pre;
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white; 
}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
  fill: #4ea9ff;
}

.drawflow-node .ck-editor{
  border: 1px solid white;
  background: var(--background-color);
}

.drawflow-node .code-room{
  padding: 5px;
}

.drawflow-node .code-box{
  height: 200px;
}

.drawflow-node .trigger-room{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.drawflow-node .trigger-box{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: var(--background-color);
  border-top: 1px solid white;
  color:white;
}

.drawflow-node .trigger-box .trigger-box-passeddata-textarea {
  height: 100px;
}

.btn-delete-trigger {
  color: white;
  font-weight: bold;
  border: 1px solid var(--border-color);
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-add-trigger {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  background: #00a2d3;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.drawflow-node .separator{
  margin-top: 8px;
  margin-bottom : 8px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}
